/* Sidebar - Estilo geral com nova paleta */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background-color: #074801;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.closed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #137f09;
}

.sidebar-header .toggle-btn {
  background: none;
  border: none;
  color: #d9d9d9;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-content {
  padding-top: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #d9d9d9;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #137f09;
}

.sidebar-item .sidebar-icon {
  margin-right: 10px;
  font-size: 20px;
  color: #d9d9d9;
}

/* Ajuste no conteúdo principal */
.main-content {
  transition: margin-left 0.3s ease-in-out;
  padding: 20px;
  margin-left: 240px; /* Adiciona o deslocamento quando a sidebar está aberta */
}

.main-content.shifted {
  margin-left: 240px;
}

.main-content.shifted-closed {
  margin-left: 60px;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
