

/* Container */
.container {
  background-color: #fff;
  border-radius: 12px; /* Borda arredondada */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 30px 40px;
  width: 100%;
  max-width: 800px; /* Aumenta a largura do container */
  transition: transform 0.3s ease-in-out; /* Animação suave no hover */
  margin-top: 60px; /* Aumenta a margem do topo */
}

.container:hover {
  transform: translateY(-5px); /* Efeito de elevação */
}

/* Título */
h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Caixa de texto */
/* Caixa de texto */
.ReactQuill__editor {
  border-radius: 10px; /* Bordas arredondadas */
  border: 1px solid #dcdfe6; /* Cor de borda suave */
  background-color: #fafafa;
  padding: 12px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  
}

.ReactQuill__editor:focus {
  border-color: #4CAF50; /* Cor de foco */
}

/* Botões */
button {
  background-color: #4CAF50; /* Cor de fundo */
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 5px;
  width: 150px;
  margin-top: 10px; /* Ajusta a margem superior do botão */
}

button:hover {
  background-color: #45a049; /* Cor ao passar o mouse */
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

button:active {
  transform: scale(0.98); /* Efeito de clique */
}

/* Botões de salvar e excluir com cores diferenciadas */
.save-button {
  background-color: #4CAF50; /* Cor verde para salvar */
}

.remove-button {
  background-color: #f44336; /* Cor vermelha para excluir */
}

.save-button:hover {
  background-color: #45a049;
}

.remove-button:hover {
  background-color: #e53935;
}

/* Select Input */
.select-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #fafafa;
  border: 1px solid #dcdfe6;
  border-radius: 8px;
  margin-bottom: 15px; /* Coloca o select acima da caixa de texto */
  transition: border-color 0.3s ease;
}

.select-input:focus {
  border-color: #4CAF50; /* Cor de borda ao focar */
}

/* Div de botões */
.flex {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Container para os botões de salvar e excluir */
.mt-4 {
  margin-top: 16px;
}

/* Espaçamento entre as opções no select */
select option {
  padding: 10px;
  font-size: 16px;
}
