/* src/App.css */
.app-container {
  display: flex;
}

.main-content {
  margin-left: 0px;
  padding: 20px;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .main-content { 
    margin-left: 200px;
    
  }
}

@media (max-width: 480px) {
  .main-content {
    margin-left: 0;
   
  }
}
