/* src/App.css */

/* Fontes e Tipografia */
body {
  font-family: 'Roboto', sans-serif; /* Definindo a fonte padrão para o corpo */
  background-color: #b5b5b8; /* Cor de fundo suave */
  color: #333; /* Cor do texto, escura para bom contraste */
}

h1, h2, h3 {
  font-weight: 600; /* Peso da fonte mais forte para os títulos */
  color: #2a3d49; /* Cor dos títulos, mais suave e agradável */
}

h1 {
  font-size: 2rem; /* Tamanho da fonte do h1 */
  margin-bottom: 20px; /* Espaçamento abaixo do h1 */
}

h2 {
  font-size: 1.5rem; /* Tamanho da fonte do h2 */
}

h3 {
  font-size: 1.2rem; /* Tamanho da fonte do h3 */
}

/* Definições de fontes para os títulos de h1 até h5 */
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif; /* Fonte do título */
}

/* Estilo de campos de entrada, como input, select e textarea */
input, select, textarea {
  padding: 10px; /* Preenchimento interno dos campos */
  border-radius: 8px; /* Bordas arredondadas */
  border: 1px solid #ddd; /* Borda suave e clara */
  font-size: 1rem; /* Tamanho da fonte */
  transition: border-color 0.3s ease; /* Transição suave ao focar */
  background-color: #fff; /* Cor de fundo branca */
}

/* Estilo quando os campos de input, select ou textarea estão em foco */
input:focus, select:focus, textarea:focus {
  border-color: #137f09; /* Cor da borda quando em foco */
  outline: none; /* Remove o contorno padrão */
}

/* Estilo do placeholder nos campos de input e textarea */
input::placeholder, textarea::placeholder {
  color: #bbb; /* Cor suave para o texto do placeholder */
}

/* Estilo para a área principal do app, que será ajustada conforme a sidebar */
.app-container {
  display: flex; /* Exibe os itens de forma flexível */
}

.main-content {
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  padding: 20px;
}

.main-content.shifted {
  margin-left: 200px;
}

.main-content.shifted-closed {
  margin-left: 60px;
}

