/* Estilos gerais para a página NovoCliente */
 body{
  font-family: 'Inter', sans-serif;
  background-color: #c7c7c7; /* Cor de fundo suave para a página */
  height: 100vh; /* Altura total da página */
  width: 100%;
  padding: 60px;
}

h1 {
  color: #074801; /* Cor verde para o título */
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

/* Estilos para os acordeões */
.accordion-section {
 
  margin-top: 10px; /* Espaçamento superior para separar os acordeões do restante do conteúdo */

}

.accordion-section .card {
   width: 100%; /* Largura total para os acordeões */
  border: 1px solid #ccc; /* Adiciona uma borda leve cinza em torno de cada cartão do acordeão */
  border-radius: 5px; /* Bordas arredondadas para os cartões */
  color: black;
  margin-bottom: 5px; /* Espaçamento inferior entre os cartões do acordeão */
}

.accordion-section .card-header {
  background-color: #074801; /* Cor de fundo verde escuro para o cabeçalho do acordeão */
  color: white; /* Texto branco no cabeçalho */
  padding: 20px; /* Espaçamento interno do cabeçalho */
  font-size: 18px; /* Tamanho de fonte do texto do cabeçalho */
  cursor: pointer; /* Altera o cursor para indicar que o cabeçalho é interativo */
}

.accordion-section .card-body {
  padding: 20px; /* Espaçamento interno do corpo do acordeão */
  background-color: white; /* Cor de fundo clara para o conteúdo do acordeão */
}

/* Estilo para a seta ou ícone de abertura (opcional) */
.accordion-toggle {
  font-size: 16px; /* Tamanho da fonte para o ícone de abertura */
  color: #074801; /* Cor verde para o ícone de abertura */
  cursor: pointer; /* Altera o cursor para indicar interatividade */
}

/* Efeito visual para o hover no cabeçalho */
.accordion-section .card-header:hover {
  background-color: #137f09; /* Muda o fundo para um verde mais claro ao passar o mouse sobre o cabeçalho */
}
